::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #020617; 
}
::-webkit-scrollbar-thumb {
    background: #334155; 
    border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
    background: #475569; 
}
#chatDisplay {
    display: flex;
    flex-direction: column;
}